body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 0;
}

.container {
    text-align: left;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    background-image: url("weather.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    color: white;
}

#temperature {
    font-size: 32px;
    padding: 20px;
}