body {
	font-family: Arial, Helvetica, sans-serif;
}

.navigation ul {
	list-style: none;
	background-color: #183b75;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navigation li {
    display: block;
	float: left;
	border-left: solid 1px rgba(255, 255, 255, 0.1);
	font-weight: bold;
	color: white;
}

.navigation li a, li ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px 20px;
}

.navigation li:hover {
	background-color: #ff8000;
}

.navigation li:hover ul {
	display: block;
	position: absolute;
	/*top: 46px;*/
}

.navigation li:hover ul li {
	float: none;
}

.navigation ul ul {
    display: none;
}

.navigation .active {
	background-color: rgba(255, 255, 255, 0.1);
}
