/*
CSS stands for Cascading Style Sheet. It is cascading because child elements 
inherit style specifications from the parent elements.

The syntax of CSS is the following:
selector {
    style-attribute: value(s);
}

There several types of selectors:
- Tags
- Classes : preceeded by a dot like ".main-header"
- Identifiers : preceeded by a hashtag like "#abstract"
- Pseudo-elements
- Pseudo-classes
- Combinators

Examples:
.main-header {
    background-color: lightgrey;
}

#abstract {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: lightgray;
    margin: 0;
}

pre,
code {
    background-color: #e0e0e0;
    padding: 0.25rem;
}

summary h2 {
    display: inline-block;
}

main {
    background-color: white;
    width: 48rem;
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
}

.main-menu {
    background-color: darkblue;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
    width: 48rem;
    list-style: none;
}

.main-menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    border-right: 1px solid #ffffff20;
}

.main-menu li:last-child a {
    border-right: none;
}

.active-page a,
.main-menu a:hover {
    background-color: orange;
    color: darkblue;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

thead,
tfoot {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

thead {
    background-color: darkseagreen;
}

tfoot {
    background-color: cornsilk;
}

tbody tr:nth-child(2n) {
    background-color: aliceblue;
}

th,
td {
    border: 1px solid;
    padding: 0.3rem;
}

td {
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}

caption {
    caption-side: bottom;
    font-style: italic;
    color: gray;
    margin-top: 0.5rem;
}